@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(lightbox.css);
/* Google Fonts Import ============================================= */
/* ----------------------------------------------------------- */
/* Normalize ============================================= */
/* ----------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: Open Sans, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }

h1 {
  font-size: 3em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Options ============================================= */
/* ----------------------------------------------------------- */
#topo, #wrapper, #wrapper #contentCol article {
  *zoom: 1; }
#topo:before, #wrapper:before, #wrapper #contentCol article:before, #topo:after, #wrapper:after, #wrapper #contentCol article:after {
  content: "";
  display: table; }
#topo:after, #wrapper:after, #wrapper #contentCol article:after {
  clear: both; }

.date:before {
  background: url("../img/sprite.png") 0 0 no-repeat; }

/* Main Style ============================================= */
/* ----------------------------------------------------------- */
body {
  font-size: 75%;
  background: url("../img/bg-pat.png") 0 100px repeat-x; }

body.single {
  background-color: #dddddd; }

html > body {
  font-size: 15px; }

p {
  margin-bottom: 1.47em; }

p {
  line-height: 1.47em; }

hr {
  border-style: solid;
  border-width: 1px 0 0;
  margin: -1px 0 1.47em; }

h1, h2, h3, h4 {
  font-family: "Yanone Kaffeesatz", calibri, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

ul {
  list-style-position: inside; }

.z-in2 {
  position: relative;
  z-index: 2; }

.wp-caption-text {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.85em;
  margin: 0 0 1.85em; }

h1 #logo {
  font-weight: 700; }

h1 {
  font-size: 3em;
  line-height: 0.98em; }

h2 {
  font-size: 2.7em;
  line-height: 0.98em; }

h3 {
  font-size: 2.2em;
  line-height: 1.3335em;
  margin-bottom: 0.66666em;
  letter-spacing: 0.06em; }

h4 {
  font-size: 1.7em;
  line-height: 1.73em;
  text-transform: uppercase; }

body.single #wrapper #contentCol article h3, body.single #wrapper #contentCol article h1 {
  text-shadow: 3px 3px 0px #d2e59d; }

body.single #wrapper #contentCol article h3 {
  font-size: 2.7em;
  margin-bottom: 0.5435em;
  line-height: 1.1em; }

.titleLink {
  display: inline-block;
  text-shadow: 3px 3px 0px #dbebb1; }
  .titleLink:visited {
    color: #660099; }
  .titleLink:hover {
    text-shadow: 2px 2px 0px #a4cb38;
    background-color: #eef5da; }
  .titleLink:active {
    text-shadow: 1px 1px 0px #a4cb38;
    background-color: transparent; }

#topo {
  background-color: #a4cb38;
  border-bottom: 1.47em solid #007236;
  position: relative;
  z-index: 2; }
  #topo div {
    width: 960px;
    margin: 0 auto; }
  #topo h1 {
    margin: 0.5em 0 0.5em 0.5em; }
  #topo a {
    color: white; }

#wrapper #leftCol, #wrapper #rightCol, #wrapper #contentCol {
  float: left; }

#wrapper #contentCol article:hover, body.single #wrapper #contentCol article {
  background-color: white; }

.navUl {
  color: #111111;
  font-family: Open Sans, sans-serif;
  font-size: 0.85em;
  line-height: 1.7254em;
  list-style: none; }
  .navUl a {
    display: block; }
  .navUl a:hover {
    text-decoration: underline; }
    .navUl a:hover:before {
      content: "»";
      display: inline-block;
      width: 5px;
      margin-right: -5px;
      position: relative;
      left: -10px; }
  .navUl a:active:before {
    left: -13px; }

#wrapper {
  width: 960px;
  margin: 0 auto; }
  #wrapper #leftCol {
    width: 9.8em;
    padding: 22px;
    background-color: #007236;
    position: relative;
    z-index: 2; }
    #wrapper #leftCol h3, #wrapper #leftCol h4 {
      color: white; }
    #wrapper #leftCol hr {
      margin-bottom: 0.75em;
      border-color: white; }
    #wrapper #leftCol .navUl {
      color: white; }
  #wrapper #rightCol {
    width: 16.2em;
    padding: 1.47em; }
  #wrapper #contentCol {
    width: 32em;
    background-color: #eeeeee; }
    body.single #wrapper #contentCol {
      width: 51.2em; }
    #wrapper #contentCol article {
      background-color: #fbfbfb;
      position: relative;
      padding: 1.47em 1.47em 0;
      font-size: 1em;
      line-height: 1.47em;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      #wrapper #contentCol article:hover {
        z-index: 2;
        -webkit-transition: all 0s ease-in;
        -moz-transition: all 0s ease-in;
        -o-transition: all 0s ease-in;
        transition: all 0s ease-in; }
        #wrapper #contentCol article:hover .leiaMais {
          -webkit-transition: all 0s ease-in;
          -moz-transition: all 0s ease-in;
          -o-transition: all 0s ease-in;
          transition: all 0s ease-in;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1; }
      #wrapper #contentCol article h3 {
        margin-bottom: 0; }
      body.single #wrapper #contentCol article h1 {
        margin-bottom: 0.48em; }
      #wrapper #contentCol article ul li, #wrapper #contentCol article ol li {
        list-style-position: inside;
        margin-bottom: 1.47em; }
      #wrapper #contentCol article a[rel*="attachment"] {
        display: block; }

.leiaMais {
  background-color: #a4cb38;
  padding: 0 0.7em;
  margin: -0.7em 0;
  color: white;
  border-radius: 5px;
  line-height: 2.17em;
  height: 2.17em;
  display: inline-block; }
  .leiaMais:hover {
    background-color: #b1d254;
    box-shadow: 1px 1px 20px #c0db75; }

.date {
  font-size: 0.8em;
  color: #666666;
  height: 1.83333em;
  display: inline-block;
  padding-bottom: 1.83333em; }
  .date:before {
    background-position: -0px -0px;
    margin: 0 0.5em -9px 0;
    height: 26px;
    width: 25px;
    display: inline-block;
    content: ""; }
